Source: private-debian-package
Maintainer: Thomas Nyberg <tomnyberg@gmail.com>
Section: python
Priority: optional
Standards-Version: 3.9.2
X-Python-Version: >= 3.4
Build-Depends: debhelper (>= 9), devscripts, python3-dev, python3-setuptools

Package: package
Architecture: all
Section: python
Depends: python3, ${misc:Depends}, ${python:Depends}
Description: Debian example package.
